<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 全てのファイルアペンダ -->
	<appender name="RootFileAppender"
			  class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/root.log" />
		<param name="MaxFileSize" value="20MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d %5p %-21t %-70c - %m%n" />
		</layout>
	</appender>
	<!-- デバッグ用のアペンダ：標準出力する -->
	<appender name="debugAppender"
			  class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %-26.26c{1} - %m%n" />
		</layout>
	</appender>
	<!-- 全てのログ -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="debugAppender" />
		<appender-ref ref="RootFileAppender" />
	</root>
</log4j:configuration>